<!Doctype html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head">
</head>
<header th:replace="layout :: createcustomer"/>

</header>
<body>

<form action="#" th:action="@{/myresto/search}" method="post" th:object="${search}">
    <label>Search By :</label>
    <select th:field="*{type}">
        <option th:value="name" th:text="name" />
        <option th:value="email" th:text="email" />
        <option th:value="phone" th:text="phone" />
    </select>
    <input type="text" name="value" id="value" th:field="*{value}"/>

    <input type="submit" value="search"/>
</form>

<h1>All Customers</h1>

<table style="width:100%">
    <tr>
        <th>Fullname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Building No</th>
        <th>Street</th>
        <th>District</th>
        <th>DoorBell</th>
        <th>Pincode</th>
    </tr>
<zee-main id="customers">
    <post th:each="c: ${customers}">
        <tr>
            <td th:text="${c.fullname}" />
            <td th:text="${c.email}" />
            <td th:text="${c.phone}" />
            <td th:text="${c.buildingno}" />
            <td th:text="${c.street}" />
            <td th:text="${c.district}" />
            <td th:text="${c.doorbell}" />
            <td th:text="${c.pincode}" />
            <td>
                <button th:data-parameter1="${c.id}" th:onclick="del(this.getAttribute('data-parameter1'))">delete</button>
                <button th:data-parameter1="${c.id}" th:onclick="update(this.getAttribute('data-parameter1'))">update</button>
            </td>
        </tr>
    </post>
</zee-main>
</table>
</body>
</html>